* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.header-name {
  font-size: large;
}

.player-board {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  outline: 2px solid black;
  margin-right: 20px;
}

.cell {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  cursor: pointer;
}

.computer-board {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  outline: 2px solid black;
}

.dialog,
.winner-dialog {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 640px;
  top: 180px;
  outline: 1px solid black;
}

.dialog-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.player-name,
.player-name-input {
  margin-bottom: 10px;
}

.instructions-container {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
}

.instructions {
  margin-top: 10px;
  width: 220px;
}

.player-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.render-ships {
  background-color: blue;
}

.missed-attacks {
  background-color: green;
}

.ship-attacks {
  background-color: red;
}

.dialog-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-winner {
  margin-bottom: 10px;
}

.space-is-empty {
  background-color: lightgreen;
}

.space-is-not-empty {
  background-color: red;
}

.container {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: space-around;
}

.player-board-status-container,
.computer-board-status-container {
  /* outline: 2px solid blue; */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.player-ship-carrier,
.player-ship-battleship,
.player-ship-destroyer,
.player-ship-submarine,
.player-ship-patrolboat,
.computer-ship-carrier,
.computer-ship-battleship,
.computer-ship-destroyer,
.computer-ship-submarine,
.computer-ship-patrolboat {
  margin-right: 5px;
}

.player-carrier-status-container,
.player-battleship-status-container,
.player-destroyer-status-container,
.player-submarine-status-container,
.player-patrolboat-status-container,
.computer-carrier-status-container,
.computer-battleship-status-container,
.computer-destroyer-status-container,
.computer-submarine-status-container,
.computer-patrolboat-status-container {
  display: flex;
}
